th, td {
    font-size: 12px;
}

span.pre {
    font-size: 12px;
}

.math, p, a, div.highlight {
    font-size: 14px;
}

tr:hover {
    background-color: transparent !important;
}

th, td {
    padding: 0;
    line-height: 1.3;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0.75em;
}

a.reference.internal {
    font-size: 12.5px;
}

ul.simple {
    line-height: 1.3;
}

li.toctree-l1 {
    font-size: 13px;
}

h4 {font-size: 20px}
h3 {font-size: 24px}
h2 {font-size: 30px}
h1 {font-size: 36px}